<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

        <title>CREATON</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="~/js/scripts.js"></script>
   
</head>
<body>
        @RenderBody()
</body>
</html>
