
@{
    ViewData["Title"] = "Index";
}

<div id="wrapper">
    <header>
        <img class="logo" src="~/images/creaton-logo.png" height="47">

        <nav>
            <ul>
                <li><a class="button-text" href="#">УСЛУГИ</a></li>
                <li><a class="button-text" href="#">НАШИ ПРОЕКТЫ</a></li>
                <li><a class="button-text" href="#">КОНТАКТЫ</a></li>
            </ul>
        </nav>

        <div class="image-container">
            <img src="~/images/phone.png" alt="First Image" height="17">
            <img src="~/images/email.png" alt="Second Image" height="17">
        </div>

        <p class="number button-text">+7 900 755 75 75  info@kreaton-plus.ru</p>
    </header>

    <main>

        <div class="video-container">
            <video src="~/videos/фон.mp4" autoplay muted loop></video>
            <div class="overlay"></div>

            <div class="bg-container">

                <div class="text-overlay">
                    <img class="ideas" src="~/images/ideas-create.png" height="95">
                </div>
                <div class="btn-container">
                    <button class="transparent-btn button-text">ОСТАВИТЬ ЗАЯВКУ</button>
                </div>
                <div class="tabs">
                    <img class="tabs-image one" src="~/images/rek.png" height="80">
                    <img class="tabs-image two" src="~/images/navigation.png" height="80">
                    <img class="tabs-image three" src="~/images/light.png" height="80">
                    <img class="tabs-image four" src="~/images/print.png" height="80">
                    <img class="tabs-image five" src="~/images/pen.png" height="80">
                    <img class="tabs-image six" src="~/images/stell.png" height="80">
                    <img class="tabs-image seven" src="~/images/design.png" height="80">
                </div>

            </div>

        </div>

    </main>

</div>

<footer>
</footer>

